@using N2.Web.Mvc.Html
@model MWMvc.Models.Tile

<div style="padding: @Model.Padding; vertical-align: middle; 
    margin-top: 5px; margin-bottom: 0px; background: @Model.BackgroundColor; color: @Model.ForegroundColor; 
    font-weight: bold; text-align: center;">
 
    @{ Html.DroppableZone("AboveContent").Render(); }
    @Html.Raw(Model.HTMLContent)
    @{ Html.DroppableZone("BelowContent").Render(); }

</div>
