*.db
obj
bin
*.suo
*.user
*.orig
COH.Web/Upload/music/scores/
COH.Web/App_Data/Temp/
N2.zip
COH.Web/Upload/bulletins/2011/
COH.Web/Upload/bulletins/2012/
COH.Web/Upload/bulletins/
COH.Web/Upload/homily/2010/
COH.Web/Upload/
