@model Dinamico.Models.ContentPage

@section main {
    <div class="span7">
        @{ Html.DroppableZone("Body").Render(); }
        main
    </div>
    <div class="span2">
        @{ Html.DroppableZone("Gutter").Render(); }
        main
    </div>
}