@model Dinamico.Models.ContentPage

@section main {
    <div class="span9">
        @Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)

        @{ Html.DroppableZone("Body").Render(); }
        
    </div>
}