timestamp=11/18/2012 9:32:18 AM
version=1
assembly=5c9ae1ec-090c-4e5c-bebf-730b3488a364;COH.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.PageModelBase
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.ContentPage
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.PartModelBase
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.ContentPart
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.FreeForm
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.LanguageIntersection
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.ContentItem;Dinamico.Models.StartPage
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.ContentPagesController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.ContentPartsController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.FallbackController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.FreeFormController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.LanguageIntersectionController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.MembershipController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.StartPageController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Web.Mvc.IController;Dinamico.Controllers.TestController
5c9ae1ec-090c-4e5c-bebf-730b3488a364=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
5c9ae1ec-090c-4e5c-bebf-730b3488a364=System.Object[N2.Plugin.IPlugin];none
assembly=8e8fa28d-216a-43ec-8dcb-2258d1f7bf00;ICSharpCode.SharpZipLib, Version=0.86.0.518, Culture=neutral, PublicKeyToken=1b03e6acf1164f73
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Engine.ServiceAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.ContentItem;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Plugin.IPluginInitializer;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Web.Mvc.IController;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Plugin.IPlugin];none
assembly=e571bb51-4e4a-4151-a097-c50e19c8b828;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.ContentItem;N2.ContentItem
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.ContentItem;N2.Edit.CreatorItem
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
e571bb51-4e4a-4151-a097-c50e19c8b828=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
e571bb51-4e4a-4151-a097-c50e19c8b828=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=d6c277ad-2bc1-4125-a910-eb43b0c2dbdf;N2.Extensions, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneSearcher
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=N2.ContentItem;none
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=N2.Plugin.IPluginInitializer;none
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Web.Mvc.IController;none
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
d6c277ad-2bc1-4125-a910-eb43b0c2dbdf=System.Object[N2.Plugin.IPlugin];none
assembly=d0988913-9e57-4936-84fc-c23777afe867;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.Items.ImageSizeCache
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Externals.ExternalItem
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.FileSystem.Items.File
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Security.Items.User
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Security.Items.UserList
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.RootPartBase
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.ActivityPart
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.LanguagesPart
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.RootBase
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.StatisticsPart
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Management.Myself.WizardsPart
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
d0988913-9e57-4936-84fc-c23777afe867=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
d0988913-9e57-4936-84fc-c23777afe867=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
d0988913-9e57-4936-84fc-c23777afe867=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
d0988913-9e57-4936-84fc-c23777afe867=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
d0988913-9e57-4936-84fc-c23777afe867=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.LanguageMenu
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.New
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
d0988913-9e57-4936-84fc-c23777afe867=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=f6ae2270-68d3-4ec0-8b31-1695300c5864;N2.Packaging, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
f6ae2270-68d3-4ec0-8b31-1695300c5864=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
f6ae2270-68d3-4ec0-8b31-1695300c5864=N2.ContentItem;none
f6ae2270-68d3-4ec0-8b31-1695300c5864=N2.Plugin.IPluginInitializer;none
f6ae2270-68d3-4ec0-8b31-1695300c5864=System.Web.Mvc.IController;none
f6ae2270-68d3-4ec0-8b31-1695300c5864=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
f6ae2270-68d3-4ec0-8b31-1695300c5864=System.Object[N2.Plugin.IPlugin];none
assembly=06bbb222-f5e0-4439-a232-78a4a78c14bf;N2.Razor, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
06bbb222-f5e0-4439-a232-78a4a78c14bf=System.Object[N2.Engine.ServiceAttribute];none
06bbb222-f5e0-4439-a232-78a4a78c14bf=N2.ContentItem;none
06bbb222-f5e0-4439-a232-78a4a78c14bf=N2.Plugin.IPluginInitializer;none
06bbb222-f5e0-4439-a232-78a4a78c14bf=System.Web.Mvc.IController;none
06bbb222-f5e0-4439-a232-78a4a78c14bf=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
06bbb222-f5e0-4439-a232-78a4a78c14bf=System.Object[N2.Plugin.IPlugin];none
