timestamp=12/16/2012 10:34:05 PM
version=1
assembly=a86c162b-1156-4771-a466-febcd528fb7d;COH.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
a86c162b-1156-4771-a466-febcd528fb7d=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
a86c162b-1156-4771-a466-febcd528fb7d=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
a86c162b-1156-4771-a466-febcd528fb7d=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
a86c162b-1156-4771-a466-febcd528fb7d=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.PageModelBase
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.ContentPage
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.PartModelBase
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.ContentPart
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.DocumentViewer
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.FreeForm
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.LanguageIntersection
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.Redirect
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.StartPage
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;MWMvc.Models.CompanyPage
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;Dinamico.Models.CustUpdate
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;MWMvc.Models.RawHtml
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;MWMvc.Models.StockTicker
a86c162b-1156-4771-a466-febcd528fb7d=N2.ContentItem;MWMvc.Models.Tile
a86c162b-1156-4771-a466-febcd528fb7d=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.ContentPagesController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.ContentPartsController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.DocumentViewerController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.FallbackController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.FreeFormController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.LanguageIntersectionController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.MembershipController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.LinkController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.StartPageController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;Dinamico.Controllers.TestController
a86c162b-1156-4771-a466-febcd528fb7d=System.Web.Mvc.IController;MWMvc.Controllers.StockTickerController
a86c162b-1156-4771-a466-febcd528fb7d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];MWMvc.Models.RawHtmlAdapter
assembly=40b229d8-69e0-491a-a265-39010d844ee8;FluentNHibernate, Version=1.3.0.727, Culture=neutral, PublicKeyToken=8aa435e3cb308880
40b229d8-69e0-491a-a265-39010d844ee8=System.Object[N2.Engine.ServiceAttribute];none
40b229d8-69e0-491a-a265-39010d844ee8=N2.ContentItem;none
40b229d8-69e0-491a-a265-39010d844ee8=N2.Plugin.IPluginInitializer;none
40b229d8-69e0-491a-a265-39010d844ee8=System.Web.Mvc.IController;none
40b229d8-69e0-491a-a265-39010d844ee8=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
40b229d8-69e0-491a-a265-39010d844ee8=System.Object[N2.Plugin.IPlugin];none
assembly=8e8fa28d-216a-43ec-8dcb-2258d1f7bf00;ICSharpCode.SharpZipLib, Version=0.86.0.518, Culture=neutral, PublicKeyToken=1b03e6acf1164f73
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Engine.ServiceAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.ContentItem;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Plugin.IPluginInitializer;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Web.Mvc.IController;none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
8e8fa28d-216a-43ec-8dcb-2258d1f7bf00=System.Object[N2.Plugin.IPlugin];none
assembly=132017c6-6845-43bd-bf3b-220528233af3;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
132017c6-6845-43bd-bf3b-220528233af3=N2.ContentItem;N2.ContentItem
132017c6-6845-43bd-bf3b-220528233af3=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
132017c6-6845-43bd-bf3b-220528233af3=N2.ContentItem;N2.Edit.CreatorItem
132017c6-6845-43bd-bf3b-220528233af3=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
132017c6-6845-43bd-bf3b-220528233af3=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
132017c6-6845-43bd-bf3b-220528233af3=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
132017c6-6845-43bd-bf3b-220528233af3=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
132017c6-6845-43bd-bf3b-220528233af3=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
132017c6-6845-43bd-bf3b-220528233af3=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
132017c6-6845-43bd-bf3b-220528233af3=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
132017c6-6845-43bd-bf3b-220528233af3=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
132017c6-6845-43bd-bf3b-220528233af3=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=88c07637-4af9-4737-9dc0-b81cd50773a0;N2.Extensions, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneSearcher
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
88c07637-4af9-4737-9dc0-b81cd50773a0=N2.ContentItem;none
88c07637-4af9-4737-9dc0-b81cd50773a0=N2.Plugin.IPluginInitializer;none
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Web.Mvc.IController;none
88c07637-4af9-4737-9dc0-b81cd50773a0=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
88c07637-4af9-4737-9dc0-b81cd50773a0=System.Object[N2.Plugin.IPlugin];none
assembly=d8c30c5c-70ed-40a7-82f2-345ca24c0534;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.Items.ImageSizeCache
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Externals.ExternalItem
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.FileSystem.Items.File
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Security.Items.User
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Security.Items.UserList
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.RootPartBase
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.ActivityPart
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.LanguagesPart
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.RootBase
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.StatisticsPart
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Management.Myself.WizardsPart
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
d8c30c5c-70ed-40a7-82f2-345ca24c0534=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.LanguageMenu
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.New
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
d8c30c5c-70ed-40a7-82f2-345ca24c0534=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=a9c8d645-b842-43bf-8e6b-5585a842304d;N2.Packaging, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
a9c8d645-b842-43bf-8e6b-5585a842304d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
a9c8d645-b842-43bf-8e6b-5585a842304d=N2.ContentItem;none
a9c8d645-b842-43bf-8e6b-5585a842304d=N2.Plugin.IPluginInitializer;none
a9c8d645-b842-43bf-8e6b-5585a842304d=System.Web.Mvc.IController;none
a9c8d645-b842-43bf-8e6b-5585a842304d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
a9c8d645-b842-43bf-8e6b-5585a842304d=System.Object[N2.Plugin.IPlugin];none
assembly=8d9dc15e-3065-42ff-a6f5-efae601788f7;N2.Razor, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
8d9dc15e-3065-42ff-a6f5-efae601788f7=System.Object[N2.Engine.ServiceAttribute];none
8d9dc15e-3065-42ff-a6f5-efae601788f7=N2.ContentItem;none
8d9dc15e-3065-42ff-a6f5-efae601788f7=N2.Plugin.IPluginInitializer;none
8d9dc15e-3065-42ff-a6f5-efae601788f7=System.Web.Mvc.IController;none
8d9dc15e-3065-42ff-a6f5-efae601788f7=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
8d9dc15e-3065-42ff-a6f5-efae601788f7=System.Object[N2.Plugin.IPlugin];none
assembly=9093f181-0b25-4c07-9d47-b84dd4c4c2c6;NuGet.Core, Version=1.0.11220.104, Culture=neutral, PublicKeyToken=31bf3856ad364e35
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=System.Object[N2.Engine.ServiceAttribute];none
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=N2.ContentItem;none
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=N2.Plugin.IPluginInitializer;none
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=System.Web.Mvc.IController;none
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
9093f181-0b25-4c07-9d47-b84dd4c4c2c6=System.Object[N2.Plugin.IPlugin];none
assembly=3f332b40-45db-42e2-a4ed-0826de223a79;WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
3f332b40-45db-42e2-a4ed-0826de223a79=System.Object[N2.Engine.ServiceAttribute];none
3f332b40-45db-42e2-a4ed-0826de223a79=N2.ContentItem;none
3f332b40-45db-42e2-a4ed-0826de223a79=N2.Plugin.IPluginInitializer;none
3f332b40-45db-42e2-a4ed-0826de223a79=System.Web.Mvc.IController;none
3f332b40-45db-42e2-a4ed-0826de223a79=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
3f332b40-45db-42e2-a4ed-0826de223a79=System.Object[N2.Plugin.IPlugin];none
assembly=5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa;WebMatrix.WebData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=System.Object[N2.Engine.ServiceAttribute];none
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=N2.ContentItem;none
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=N2.Plugin.IPluginInitializer;none
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=System.Web.Mvc.IController;none
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
5f81a23f-b6b3-4ad4-b53d-76ec5d7846aa=System.Object[N2.Plugin.IPlugin];none
