@model Dinamico.Models.ContentPage

@{
	Content.Define(re => 
	{
		re.Title = "Content Page";
	});
}

@section page {

    @Content.Render.Tokens("Title").Wrap(@<h1>@item.RenderContents()</h1>)

    @Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)

}